body {
    font-family: 'Roboto', sans-serif;
}

/*Containers*/

.alert-container {
    
}

.callout-container {
    height: 100vh;
  background: url(images/WhiskeyGlass.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  display: flex;
  align-items: center;
  
  position: relative;
}

.quotes-container {
    
}

.features-container {
    
}

.jumbotron {
    background-color: transparent; 
}

.jumbotron h1 {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron .lead {
    color: #a7a7a7;
    margin: 25px 0;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}

.block-divider {
    width: 375px;
    height: 5px;
    border: 0;
}

.block-divider-brown {
     background-color: #8a441a;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(15, 0, 0, 0.2);
}

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--red {
    color: white;
    background-color: #8a441a;
    border-color: #8a441a;
}

.btn--red:hover,
.btn--red:focus,
.btn--red:active,
.btn--red:active:focus {
    background-color: #e69d50;
    border-color: #e69d50;
    color: #8a441a;
}
